# Ignore Maven target directory
target/

# Ignore Gradle build directory
build/

# Ignore IDE-specific files
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
.idea
*.iws
*.iml
*.ipr

# Ignore VS Code settings
.vscode/

# Ensure `HELP.md` and essential project files are not ignored
